# Kaggle Competition | Titanic Machine Learning from Disaster

> The sinking of the RMS Titanic is one of the most infamous shipwrecks in history. On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. This sensational tragedy shocked the international community and led to better safety regulations for ships.
>
> One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew. Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.
>
> In this contest, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.
>
> This Kaggle Getting Started Competition provides an ideal starting place for people who may not have a lot of experience in data science and machine learning."

From the competition [homepage](https://www.kaggle.com/c/titanic).

## This notebook

The aim of this notebook is to give you some insight into a more "real" world problem where are data isn't cleaned for us. We need to explore the data, clean it and then apply some ML methods.

First we'll need to install some dependencies and then import them.

In [1]:
pip install -r requirements.txt

Requirement already satisfied: jupyter==1.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (1.0.0)
Requirement already satisfied: matplotlib==3.3.4 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (3.3.4)
Requirement already satisfied: numpy==1.20.2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (1.20.2)
Requirement already satisfied: pandas==1.2.4 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (1.2.4)
Requirement already satisfied: patsy==0.5.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 5)) (0.5.1)
Requirement already satisfied: scikit-learn==0.24.2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 6)) (0.24.2)
Requirement already satisfied: statsmodels==0.12.2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from -r requirements.txt (line 7)) (0.12.2)
Requirement already satisfied: nbconvert in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.0.7)
Requirement already satisfied: ipykernel in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (5.5.3)
Requirement already satisfied: notebook in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.3.0)
Requirement already satisfied: qtconsole in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (5.0.3)
Requirement already satisfied: jupyter-console in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (6.4.0)
Requirement already satisfied: ipywidgets in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jupyter==1.0.0->-r requirements.txt (line 1)) (7.6.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from matplotlib==3.3.4->-r requirements.txt (line 2)) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from matplotlib==3.3.4->-r requirements.txt (line 2)) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from matplotlib==3.3.4->-r requirements.txt (line 2)) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from matplotlib==3.3.4->-r requirements.txt (line 2)) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from matplotlib==3.3.4->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from pandas==1.2.4->-r requirements.txt (line 4)) (2021.1)
Requirement already satisfied: six in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from patsy==0.5.1->-r requirements.txt (line 5)) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from scikit-learn==0.24.2->-r requirements.txt (line 6)) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from scikit-learn==0.24.2->-r requirements.txt (line 6)) (1.6.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from scikit-learn==0.24.2->-r requirements.txt (line 6)) (2.1.0)
Requirement already satisfied: tornado>=4.2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (6.1)
Requirement already satisfied: appnope in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.1.2)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (5.0.5)
Requirement already satisfied: jupyter-client in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (6.1.12)
Requirement already satisfied: ipython>=5.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (7.22.0)
Requirement already satisfied: backcall in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: decorator in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (5.0.7)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (3.0.18)
Requirement already satisfied: pygments in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: jedi>=0.16 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.18.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from traitlets>=4.1.0->ipykernel->jupyter==1.0.0->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (5.1.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (3.2.0)
Requirement already satisfied: jupyter-core in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (4.7.1)

Requirement already satisfied: attrs>=17.4.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->jupyter==1.0.0->-r requirements.txt (line 1)) (0.17.3)
Requirement already satisfied: prometheus-client in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (0.10.1)
Requirement already satisfied: Send2Trash>=1.5.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (1.5.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (0.9.4)
Requirement already satisfied: jinja2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (2.11.3)
Requirement already satisfied: pyzmq>=17 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (22.0.3)
Requirement already satisfied: argon2-cffi in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (20.1.0)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from argon2-cffi->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from cffi>=1.0.0->argon2-cffi->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from jinja2->notebook->jupyter==1.0.0->-r requirements.txt (line 1)) (1.1.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.1.2)
Requirement already satisfied: testpath in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.4.4)
Requirement already satisfied: bleach in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (3.3.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (1.4.3)
Requirement already satisfied: defusedxml in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.5.3)
Requirement already satisfied: nest-asyncio in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (1.5.1)
Requirement already satisfied: async-generator in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (1.10)
Requirement already satisfied: webencodings in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: packaging in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements.txt (line 1)) (20.9)
Requirement already satisfied: qtpy in /usr/local/anaconda3/envs/titanic/lib/python3.9/site-packages (from qtconsole->jupyter==1.0.0->-r requirements.txt (line 1)) (1.9.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.api as sm
from patsy import dmatrices
from sklearn import datasets, svm
from statsmodels.nonparametric import smoothers_lowess
from statsmodels.nonparametric.kde import KDEUnivariate

## The data

First let's read in a data and see what we're dealing with.

In [31]:
df = pd.read_csv("data/train.csv") 
print(fr"{df.shape[0]} rows, {df.shape[1]} columns")
df.head()

891 rows, 12 columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Missing values

One thing we want to watch out for is how complete our dataset is. First, let's have a look at the number of rows and how many entries are non-null.

In [25]:
percentage_complete = df.notnull().sum() / df.shape[0]
percentage_complete.map("{:.1%}".format)

PassengerId    100.0%
Survived       100.0%
Pclass         100.0%
Name           100.0%
Sex            100.0%
Age             80.1%
SibSp          100.0%
Parch          100.0%
Ticket         100.0%
Fare           100.0%
Cabin           22.9%
Embarked        99.8%
dtype: object

Clearly we can see that _Cabin_ in particular has a significant number of entries missing. How can we deal with that? At this point it's probably worth just removing it from our dataset.

In [26]:
df.drop(["Cabin"], axis=1, inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

Now that we're removed _Cabin_ we're safe to drop all remaining NaN values. If we'd ran this line first our dataset would have been ~23% of it's original size!

In [28]:
df.dropna(inplace=True)
df.shape

(712, 11)

## Exploring the data visually